<div class="container mt-5">
  <div class="row">
    <table class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="width: 10%">Number</th>
        <th style="width: 10%">Name</th>
        <th style="width: 10%">Birthdate</th>
        <th style="width: 10%">Height</th>
        <th style="width: 10%">Weight</th>
        <th style="width: 15%">Place of Birth</th>
        <th style="width: 10%">Team</th>
      </tr>
      <tr *ngFor="let player of players">
        <td>{{player.id}}</td>
        <td>{{player.name}}</td>
        <td>{{player.birthdate | date:'mediumDate'}}</td>
        <td>{{player.height}}</td>
        <td>{{player.weight}}</td>
        <td>{{player.placeOfBirth}}</td>
        <td>
          <button class="btn btn-success" (click)="viewTeam(player.id)">View Team</button>
        </td>
      </tr>
    </table>
  </div>
</div>